.homepage{
    display: flex;
    height: 100vh --150px;
}
.sampleCommands{
    width: 50%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-inputForm{
    width: 50%;
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainhome-both{
    display: flex;
    flex-direction: column;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
