nav {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    height: 120px;
    border-radius: 10px;
    box-shadow: 5px 2px 10px grey;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

li {
    margin: 50px;
}

li:first-child {
    /* background-color: #f00; */
    /* border-radius: 5px; */
    font-size: 32px;
    font-family: 'MuseoModerno', cursive;
    /* font-weight: bold; */
}

li a{
    color: white;
}

